{% extends 'base.html' %}
{% load static %}

{% block title %}
IdeaSoft
{% endblock %}

{% block content %}

<div class="container my-5">
    <div class="jumbotron text-center">
        <h1>Welcome to IdeaSoft!</h1>
        <hr style="margin-left: 20%; margin-right: 20%;">
        <p class="lead">
            We are a group of teenage developers who loves making websites & software.
        </p>
        <a href="#" class="btn btn-success">Learn more</a>
    </div>
    <div class="row">
        <div class="col col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="card text-center">
                <a href="#"><img src="{% static 'news.png' %}" class="card-img-top" alt=""></a>
                <div class="card-body">
                    <h3 class="card-title">Latest news</h3>
                    <p class="text-muted">Information about our projects</p>
                </div>
            </div>
        </div>
        <div class="col col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="card text-center">
                <a href="#"><img src="{% static 'our_team.png' %}" class="card-img-top" alt=""></a>
                <div class="card-body">
                    <h3 class="card-title">Our team</h3>
                    <p class="text-muted">IdeaSoft studio participants</p>
                </div>
            </div>
        </div>
        <div class="col col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="card text-center">
                <a href="{% url 'join' %}"><img src="{% static 'join.png' %}" class="card-img-top" alt=""></a>
                <div class="card-body">
                    <h3 class="card-title">Join us</h3>
                    <p class="text-muted">Become a member of IdeaSoft</p>
                </div>
            </div>
        </div>
        <div class="col col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="card text-center">
                <a href="#"><img src="{% static 'contacts.png' %}" class="card-img-top" alt=""></a>
                <div class="card-body">
                    <h3 class="card-title">Contacts</h3>
                    <p class="text-muted">Keep in touch with us</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}